.swimlane {
  background: var(--gray-3);
  border-radius: var(--radius-3);
  min-width: 320px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-4);
}

.title {
  font-weight: var(--font-weight-bold);
  color: var(--gray-12);
  flex: 1;
}

.ideas {
  padding: var(--space-1) var(--space-2) var(--space-4);
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  overflow-y: auto;
}

.newIdeaButton {
  align-self: center;
  padding: var(--space-2) var(--space-4);
  margin-top: var(--space-1);
  margin-bottom: var(--space-1);
  font-weight: var(--font-weight-medium);
  color: var(--gray-12);
}
