.overlay {
  background: #000000cc;
  position: fixed;
  inset: 0;
  z-index: 100;
}

.overlay[data-state="open"] {
  animation: fadeIn 0.15s ease-out;
}

.overlay[data-state="closed"] {
  animation: fadeOut 0.15s ease-in;
}

.content {
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 38px -10px rgba(22, 23, 24, 0.35),
    0 10px 20px -15px rgba(22, 23, 24, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  padding: 24px;
  z-index: 101;
}

.content:focus {
  outline: none;
}

.content[data-state="open"] {
  animation: contentShow 0.2s ease-out;
}

.content[data-state="closed"] {
  animation: slideOut 0.15s ease-in;
}

.title {
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  color: var(--gray-12);
}

.description {
  margin: 10px 0 20px 0;
  font-size: 15px;
  color: var(--gray-11);
  line-height: 1.5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -48%);
  }
}
