.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: calc(var(--space-4) + 2px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  color: var(--gray-12);
}

.separator {
  height: 1px;
  background-color: var(--gray-6);
}

.demoNotice {
  position: fixed;
  bottom: var(--space-4);
  right: var(--space-4);
  max-width: 320px;
  z-index: 100;
}

.externalLink {
  margin-left: 2px;
  margin-top: -2px;
  vertical-align: middle;
}

.viewIcon {
  margin-right: var(--space-1);
}

.viewIconContainer {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-bold);
  gap: var(--space-1);
}

.segmentedControlContainer {
  border-radius: var(--radius-2);
  border: 1px solid var(--gray-6);
  padding: var(--space-1);
}
