.container {
  flex: 1;
  display: flex;
  gap: var(--space-4);
  padding: var(--space-4);
  overflow-x: auto;
  align-items: flex-start;
}

.swimlane {
  background: var(--gray-3);
  border-radius: var(--radius-3);
  min-width: 320px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  animation: pulse 1.5s ease-in-out infinite;
}

.header {
  display: flex;
  align-items: center;
  gap: var(--space-3);
  padding: var(--space-5) var(--space-4);
}

.title {
  height: 20px;
  width: 80px;
  background: var(--gray-5);
  border-radius: var(--radius-2);
  margin-top: 3px;
}

.ideas {
  padding: var(--space-1) var(--space-2) var(--space-4);
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.card {
  background: var(--gray-5);
  padding: var(--space-4);
  border-radius: var(--radius-2);
  height: 27px;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}
